html {
    scroll-behavior: smooth;
}
.landing-page {
    background-image:url('../img/assets/backgrounds/h_img.jpg');
    background-position: relative;
    background-repeat: no-repeat;
    background-size: 1200px 500px;
    background-position-x: center;
}
#logo {
    margin-top:150px;
    margin-bottom:8px;
    margin-left:590px;
    margin-right:100px;
    width:60px;
    height:60px;
}
.landing-page h1 {
    /* position: absolute; */
    padding: 2px;
    margin-top:15px;
    text-align:center;
    color: white;
    font-size: 40px;
    /* margin-top:0px;
    margin-bottom:500px; */
}
.landing-page p {
    padding: 2px;
    color: white;
    font-size: 10px;
    margin-bottom:10px;
    text-align:center;
}
#mouse-click {
    padding-top: 22px;
    margin-top:70px;
}
    /* animation: bounce 2s infinite;
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-55px);
    }
    60% {
        transform: translateY(-45px);
    }
} */
.About-us {
    position: relative;
    text-align: center;
    font-size: 15px;
    margin-top:0px;
}
.card-body img {
    position: relative;
    height:400px;
    width:1200px;
    margin-left:0.5rem;
    margin-right:1rem;
}